html {
    scroll-behavior: smooth;
    z-index: 1;
}

body {
    margin: 0;
    font-family: Outfit;
    background-color: #ffffff;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* hero section */
header {
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    /* navbar sticky */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 40px;
}

.logo img:hover {
    opacity: 0.7;
    transition: all 0.2s;
}

/* hero section fun with code ref :D*/
.hero-section {
    display: flex;
    /* center section */
    align-items: center; 
    /* space between text & image */
    justify-content: space-around;
    padding: 80px 0;
    min-height: 60vh;
}
.hero-text {
    max-width: 500px;
}
.hero-text h1 {
    font-size: 3.5rem;
    margin: 0;
    line-height: 1.2;
}
    
.hero-character img {
    max-width: 300px;
    height: auto;
    transition: all 0.1s;
}

.hero-character img:hover {
    transform: scale(1.10);
    cursor: pointer;
}
/*picture section*/
.all-pics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.pic-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem;
  max-width: 300px;
  min-width: 150px;
}

.img-wrapper {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.pic-output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 650px;
  min-width: 150px;
  min-height: 400px;
}

.pic-output-container img {
  max-width: 100%;
  height: auto; /* Maintains the aspect ratio */
  object-fit: contain;
  border-radius: 10%;
}

.pic-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  max-width: 650px;
  min-width: 150px;
  min-height: 400px;
}

.pic-input-container img {
  max-width: 100%;
  height: auto; /* Maintains the aspect ratio */
  object-fit: contain;
  border-radius: 10%;
}

.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.team-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1.5rem;

  flex-basis: 200px;
  flex-grow: 1;
  max-width: 250px;
  min-height: auto;
}

/* footer section */
footer {
    background-color: #FFA7BC;
    color: white;
    padding: 15px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

footer a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

/* for ipad */
@media (max-width: 768px) {
    
    /* Hero section in vertical */
    .hero-section {
        flex-direction: column; 
        text-align: center;
        gap: 40px;
    }

    .hero-text h1 {
        font-size: 2.8rem;
    }
    footer {
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
    }
}
/* is this nessesary */
/* for iphone */
@media (max-width: 480px) {
    
    nav {
        flex-direction: column;
        gap: 20px;
    }

    .hero-text h1 {
        font-size: 2.2rem;
    }


    .hero-image img {
        max-width: 200px;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 20px;
    }
}

