html {
    scroll-behavior: smooth;
    z-index: 1;
}

body {
    margin: 0;
    font-family: Outfit;
    background-color: #ffffff;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* hero section */
header {
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    /* navbar sticky */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 40px;
}

.logo img:hover {
    opacity: 0.7;
    transition: all 0.2s;
}

/* about section */
.hero-section {
    display: flex;
    /* center section */
    align-items: center; 
    /* space between text & image */
    justify-content: space-around;
    padding: 80px 0;
    min-height: 60vh;
}
.hero-text {
    max-width: 500px;
}
.hero-text h1 {
    font-size: 3.5rem;
    margin: 0;
    line-height: 1.2;
}
    
.hero-character img {
    max-width: 300px;
    height: auto;
    transition: all 0.1s;
}

.hero-character img:hover {
    transform: scale(1.10);
    cursor: pointer;
}

/* footer section */
footer {
    background-color: #FFA7BC;
    color: white;
    padding: 15px 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
    z-index: 2;
}

footer a{
    padding-right: 10px;
    text-decoration: none;
}

/* for ipad */
@media (max-width: 768px) {
    
    /* Hero section in vertical */
    .hero-section {
        flex-direction: column; 
        text-align: center;
        gap: 40px;
    }

    .hero-text h1 {
        font-size: 2.8rem;
    }
}

/* for iphone */
@media (max-width: 480px) {
    
    nav {
        flex-direction: column;
        gap: 20px;
    }

    .hero-text h1 {
        font-size: 2.2rem;
    }


    .hero-image img {
        max-width: 200px;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 20px;
    }
}